.App {
  background-color: #232D32;
}

.App-header {
  /* background-color: #282c34;
  min-height: 50vh; */
  display: flex;
  /* flex-direction: column; */
  align-items: left;
  /* justify-content: left; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-section {
  background-color: #21232A;
  margin-right: 8%;
  height: 100vh;
}

.filters {
  text-align: left;
}

h1, h3 {
  color: white;
  text-align: left;
  padding: 10px 0;
}
